"*":
  "activate-power-mode":
    comboMode:
      activationThreshold: 1
    particles:
      colours:
        fixed: "#fec129"
        type: "random"
      size: {}
      spawnCount:
        max: 25
        min: 10
      totalCount: {}
    screenShake:
      enabled: false
  "atom-beautify":
    css:
      align_assignments: true
      beautify_on_save: true
      end_with_newline: true
      force_indentation: true
    general:
      _analyticsUserId: "83de4dc9-af80-4ff4-90a9-bf76bf029996"
    html:
      beautify_on_save: true
      end_with_newline: true
      indent_inner_html: true
      indent_size: 2
    js:
      beautify_on_save: true
      end_with_newline: true
      jslint_happy: true
  "atom-material-ui":
    colors:
      abaseColor: "#4e9673"
      accentColor: "#fcfcfc"
    fonts: {}
    tabs:
      compactTabs: true
      noTabMinWidth: true
    treeView:
      compactList: true
    ui:
      panelShadows: true
  "atom-ternjs":
    inlineFnCompletionDocumentation: true
    snippetsFirst: true
    useSnippetsAndFunction: true
  core:
    disabledPackages: [
      "language-babel"
      "language-vue-component"
      "jsformat"
      "esformatter"
      "vue-snippets"
      "language-gfm"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 13
    lineHeight: 1.4
    preferredLineLength: 90
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
    zoomFontWhenCtrlScrolling: true
  emmet: {}
  "exception-reporting":
    userId: "d90f9560-aaf7-293a-c1f5-609da6d234d0"
  "glowing-cursor":
    glowColor: "#5df701"
    innerColor: "#91fa6c"
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "seti-ui":
    compactView: true
    themeColor: "Steel"
  "sync-settings":
    checkForUpdatedBackup: false
    gistId: "9eb16bc9e12fc430dbc8b1bb211adfe3"
    personalAccessToken: "84069df6f5869596384d8640e9167d2d4e3d0a45"
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1477273637
  welcome:
    showOnStartup: false
".diff":
  editor:
    preferredLineLength: 90
